@model IEnumerable<HOCAF.Models.Sede>

@{
    ViewBag.Title = "Sedes";
}

<h2>Sedes</h2>

<p>
    @Html.ActionLink("Crear nueva sede", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id=item.idSede })"><span class="glyphicon glyphicon-edit"></span></a>
        </td>
        <td>
            <a href="@Url.Action("Details", new { id=item.idSede })" class="text-success"><span class="glyphicon glyphicon-eye-open"></span></a>
        </td>
        <td>
            <a href="@Url.Action("Delete", new { id=item.idSede })" class="text-danger"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
}

</table>
