@model HOCAF.Models.TrimestresFormacion

@{
    ViewBag.Title = "CrearTrimestresFormacion";
}

<h2>Crear trimestres formación</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Trimestres formación</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.idTrimestre, "Trimestre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idTrimestre", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idTrimestre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idjornadaJTF, "Jornada trimestre de formación", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idjornadaJTF",null,"Seleccione una jornada.", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idjornadaJTF, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idTipoFormacionJTF, "Tipo de formación", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idTipoFormacionJTF",null, "Seleccione un tipo de formación.", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idTipoFormacionJTF, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.estado)
                    @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear trimestre formación" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).ready(function() {
                LlenarTiposFormacion();
            })
            $("#idjornadaJTF").change(function () {
                LlenarTiposFormacion();
            });

            function LlenarTiposFormacion() {
                $.getJSON('@Url.Action("TiposDeFormacionDeLaJornada")', { codigo: $("#idjornadaJTF").val() }, function (resp) {
                    $("#idTipoFormacionJTF").find("option").each(function () {
                        $(this).remove();
                    })
                    $.each(resp, function (i, item) {
                        $("#idTipoFormacionJTF").append('<option value="' + item.codigo + '">' + item.nombre + '</option>');
                    });
                });
            }
        });
    </script>
    
    }