@model HOCAF.Models.TrimestresFormacion

@{
    ViewBag.Title = "EliminarTimestresFormacion";
}

<h2>Eliminar Trimestres Formación</h2>

<h3>¿Aeguro(a) desea eliminar este trimestre de formación?</h3>
<div>
    <h4>Trimestres formación</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JornadaTipoFormacion.idJornada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JornadaTipoFormacion.idJornada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trimestre.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trimestre.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("volver a la lista", "Index")
        </div>
    }
</div>
