@model IEnumerable<HOCAF.Models.Sede>

@{
    ViewBag.Title = "Index";
}

<h2>Registrar Sedes</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idSede }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idSede }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.idSede })
        </td>
    </tr>
}

</table>
