@model HOCAF.Models.TipoFormacion

@{
    ViewBag.Title = "DetallesTipoFormacion";
}

<h2>Detalles tipo formación</h2>

<div>
    <h4>Tipo formación</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idTipoFormacion }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
