@model IEnumerable<HOCAF.Models.TipoFormacion>

@{
    ViewBag.Title = "Index";
}

<h2>Registrar Tipos de Formacion</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idTipoFormacion }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idTipoFormacion }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.idTipoFormacion })
        </td>
    </tr>
}

</table>
