@model HOCAF.Models.ProgramaDeFormacion

@{
    ViewBag.Title = "DetalleProgramaDeFormacion";
}

<h2>Detalles Programa de formación</h2>

<div>
    <h4>Programa de formación</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Especialidad.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoFormacion.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoFormacion.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.siglas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.siglas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idPrograma }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
