@model IEnumerable<HOCAF.Models.ProgramaDeFormacion>

@{
    ViewBag.Title = "ProgramasDeFormacion";
}

<h2>Programas de formación</h2>

<p>
    @Html.ActionLink("Crear programa de formación", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoFormacion.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.siglas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoFormacion.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.siglas)
        </td>
       
        <td>
            <a href="@Url.Action("Edit", new {id=item.idPrograma })"><span class="glyphicon glyphicon-edit"></span></a>
        </td>
        <td>
            <a href="@Url.Action("Details", new {id=item.idPrograma })" class="text-success"><span class="glyphicon glyphicon-eye-open"></span></a>
        </td>
        <td>
            <a href="@Url.Action("Delete", new {id=item.idPrograma })" class="text-danger"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
}

</table>
