@model IEnumerable<HOCAF.Models.ProgramaDeFormacion>

@{
    ViewBag.Title = "ProgramasDeFormacion";
}

<h2>Programas de formación</h2>

<p>
    @Html.ActionLink("Crear programa de formación", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoFormacion.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.siglas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoFormacion.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.siglas)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idPrograma }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idPrograma }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idPrograma })
        </td>
    </tr>
}

</table>
