@model HOCAF.Models.Jornada

@{
    ViewBag.Title = "DetalleJornada";
}

<h2>Detalle jornada</h2>

<div>
    <h4>Jornada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar jornada", "Edit", new { id = Model.idJornada }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
