@model IEnumerable<HOCAF.Models.Jornada>

@{
    ViewBag.Title = "Jotnada";
}

<h2>Jornada</h2>

<p>
    @Html.ActionLink("Crear Jornada", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idJornada }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.idJornada }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idJornada })
        </td>
    </tr>
}

</table>
