@model HOCAF.Models.Especialidad

@{
    ViewBag.Title = "EliminarEspecialidad";
}

<h2>Eliminar especialidad</h2>

<h3>¿seguro quieres eliminar la especialidad?</h3>
<div>
    <h4>Especialidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar especialidad" class="btn btn-default" /> |
            @Html.ActionLink("volver a la lista", "Index")
        </div>
    }
</div>
