@model HOCAF.Models.JornadaTipoFormacion

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>JornadaTipoFormacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jornada.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jornada.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoFormacion.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoFormacion.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {idJornada=Model.idJornada, idtipoFormacion=Model.idTipoFormacion })
    @Html.ActionLink("/Volver a la lista", "Index")
</p>
