@model IEnumerable<HOCAF.Models.JornadaTipoFormacion>

@{
    ViewBag.Title = "Index";
}

<h2>Registrar Jornada Tipo de Formacion</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Jornada.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoFormacion.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Jornada.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoFormacion.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Detalles", "Details", new { idjornada=item.idJornada, idtipoFormacion=item.idTipoFormacion }) |
            @Html.ActionLink("Borrar", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
