@model HOCAF.Models.Ficha

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Ficha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstadoFicha.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoFicha.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jornada.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jornada.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jornada1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jornada1.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idPrograma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPrograma)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idFicha }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
